In [3]:
import pandas as pd
import numpy as np

In [4]:
fpath = "../data/related_behaviors_works/included_works_dealing_w_related_behaviors.csv"

In [5]:
df = pd.read_csv(fpath)

In [6]:
df.head()

,Url,Title,NOTES,Year,Author,Topic - Misconduct,Publication Title,Item Type,ISBN,ISSN,...,System,Code,Code Number,Section,Session,Committee,History,Legislative Body,Unnamed: 88,Key
0,NaN,Hyperauthorship: A postmodern perversion or ev...,NaN,2001,B. Cronin,Authorship,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.scopus.com/inward/record.uri?eid=2...,Up for grabs - Authors are a dime a dozen: The...,NaN,2004,"Lazar, R.",Authorship,"Acta Paediatrica, International Journal of Pae...",journalArticle,NaN,8035253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EJIPJ85P
2,https://www.scopus.com/inward/record.uri?eid=2...,The White Bull effect: Abusive coauthorship an...,NaN,2005,"Kwok, L. S.",Authorship,Journal of Medical Ethics,journalArticle,NaN,3066800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DKXVMS7Z
3,https://www.scopus.com/inward/record.uri?eid=2...,"Fostering integrity in research: Definitions, ...",NaN,2006,"Steneck, Nicholas H.","Flawed results, Authorship, Plagiarism, falsif...",Science and Engineering Ethics,journalArticle,NaN,13533452,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QDLDXKVB
4,https://www.scopus.com/inward/record.uri?eid=2...,Limiting authorship in Indian pediatrics: An i...,corrective actions imposing limits to authorsh...,2007,"Gupta, Piyush; Sharma, Bhawna; Choudhury, Panna",Authorship,Indian Pediatrics,journalArticle,NaN,196061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7P3VETCL

In [7]:
# count how many papers there are per year
papers_per_year = df.groupby('Year').size().reset_index(name='n-papers')

In [8]:
papers_per_year

    Year  n-papers
0   2001         2
1   2004         1
2   2005         1
3   2006         1
4   2007         1
5   2008         2
6   2010         1
7   2011         1
8   2013         2
9   2014         1
10  2015         2
11  2016         2
12  2017         3
13  2018         4
14  2019        14
15  2020         6
16  2021         4
17  2022        15
18  2023         5
19  2024        10
20  2025         1

In [9]:
# fill the gap for the years that have no papers
years = np.arange(df['Year'].min(), df['Year'].max() + 1)
papers_per_year = papers_per_year.set_index('Year').reindex(years, fill_value=0).reset_index()

In [10]:
papers_per_year

    Year  n-papers
0   2001         2
1   2002         0
2   2003         0
3   2004         1
4   2005         1
5   2006         1
6   2007         1
7   2008         2
8   2009         0
9   2010         1
10  2011         1
11  2012         0
12  2013         2
13  2014         1
14  2015         2
15  2016         2
16  2017         3
17  2018         4
18  2019        14
19  2020         6
20  2021         4
21  2022        15
22  2023         5
23  2024        10
24  2025         1

In [11]:
# save df
papers_per_year.to_csv('papers_per_year.csv', index=True)

In [12]:
list(papers_per_year['Year'])

[2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024,
 2025]